.background {
  background: #38ffe1;
  background: linear-gradient(0deg, rgba(56, 255, 225, 1) 0%, rgba(93, 0, 255, 1) 100%);
  padding-top: 5rem;
}

.loginContainers{
  width: 100%;
  margin-top: 5rem;
}

.imageContainer{
  width: 100%;
  margin: 0;
}

.image{
  max-width: 100%;
  object-fit: contain;
  margin: 0;

}

.loginContainer{
  background-color: #fff;
  margin-top: 2em;
  padding-top: 2em;
}